################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchitectureWithCQRSandMediatR/FileContentIndex/333e8860-82ff-4dcd-a119-d90b3dda3c10.vsidx
/.vs/CleanArchitectureWithCQRSandMediatR/FileContentIndex/4f9c8042-2885-4e0b-b980-2a209ef636b4.vsidx
/.vs/CleanArchitectureWithCQRSandMediatR/FileContentIndex/540114c7-fffa-4bcd-914e-22aed9a4e200.vsidx
/.vs/CleanArchitectureWithCQRSandMediatR/FileContentIndex/8761d53b-b2a0-4f8d-a2b7-dbf130ee30f1.vsidx
/.vs/CleanArchitectureWithCQRSandMediatR/FileContentIndex/d9cc555b-9140-44bf-a204-470c7164a569.vsidx
